<section id="quemSou">
  <h1>E afinal... Quem sou eu?</h1>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <mat-card class="example-card">
        <img id="imagemPerfil" mat-card-image src="../../assets/img/perfilPortfolio.jpeg" alt="Foto Vitor Vargem">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <h2>Vitor Vargem</h2>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-grid-tile>
  </mat-grid-list>
</section>