@import '../app.component.scss';

h1 {
    margin-top: 30px;
    font-size: 40px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

mat-card {
    color: white;
    background: linear-gradient(to bottom, $corFundo, $corSecundaria);
    margin: 20px auto;
    box-shadow: 3 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    overflow: hidden;
    width: 370px;

    :hover {
        background: linear-gradient(to bottom, $corSecundaria, $corFundo);
    }

    mat-card-header {
        :hover {
            background: none;
        }

        mat-card-title {
            font-family: sans-serif;
            font-size: 28px;
            font-weight: bold;
            text-align: center;
            padding-bottom: 20px;

            :hover {
                background: none;
            }

            a {
                color: white;
                text-decoration: none;

                :hover {
                    background: none;
                }
            }
        }
    }

    mat-card-content {
        padding: 16px;
        height: 120px;

        :hover {
            background: none;
        }

        p {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 20px;
            text-align: center;
            width: 330px;
        }

        mat-card-actions {
            display: flex;
            justify-content: center;
            padding: 16px;
            border-top: 1px solid #eee;

            button {
                font-weight: bold;
                font-size: 17px;
                background-color: white;
                margin: 10px;
                width: 170px;
            }
        }
    }

}