@import '../app.component.scss';

h1 {
    margin-top: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    padding: 10px;
    border: 20px;


    .custom-card {
        color: wheat;
        background: linear-gradient(to right, $corFundo, $corSecundaria);
        margin: 20px auto;
        box-shadow: 3 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        overflow: hidden;
        width: 1000px;

        .mat-card-header {
            background-color: #fff;
            padding: 16px;
            border-bottom: 1px solid #eee;
        }

        .mat-card-title,
        .mat-card-subtitle {
            font-size: 20px;
            font-weight: bold;
        }

        .mat-card-content {
            padding: 16px;
        }

        .mat-card-actions {
            display: flex;
            justify-content: flex-end;
            padding: 16px;
            border-top: 1px solid #eee;
        }

        .mat-card-image {
            height: 200px;
            object-fit: cover;
        }
    }
}