@import "../app.component.scss";

.example-spacer {
    flex: 1 1 auto;
    padding-bottom: 50px;
  }

mat-toolbar{
    background: linear-gradient(to top, $corFundo, $corSecundaria);

    img{
        width: 60px;
        height: 60px;
    }

    #titleToolBar{
        cursor: pointer;
    }
}